{% extends 'base.html' %}

{% block content %}
  {% include 'students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Test</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_test in taken_tests %}
          <tr>
            <td>{{ taken_test.test.name }}</td>
            <td>{{ taken_test.score }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any test yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
