{% extends 'base.html' %}

{% block content %}
  {% include 'students/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Test</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
          <tr>
            <td class="align-middle">{{ test.name }}</td>
            <td class="align-middle">{{ test.questions_count }} questions</td>
            <td class="text-right">
              <a href="{% url 'students:take_test' test.pk %}" class="btn btn-primary">Start test</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No test matching your interests right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
